
h1 {
  font-size: 2.5rem; 
  color: #333; 
  font-weight: bold; 
  margin-top: 30px; 
  margin-bottom: 20px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0; 
  margin: 0; 
}

.gallery img {
  width: 50%; 
  height: auto;
  display: block;
  margin: 0;
  padding: 0; 
  object-fit: cover; 
  transition: transform 0.3s ease; 
}
.gallery img:hover {
  transform: scale(1.05);
}
.col-md-6 {
  padding: 0; 
}

